---
// @ts-ignore
import { Icon } from "astro-icon/components";
---

<div class="mt-24">
  <div class="flex gap-8 md:gap-20 items-center justify-center mt-10 flex-wrap">
    <Icon class="size-8 md:size-12" name="simple-icons:linux" />
    <Icon class="size-8 md:size-12" name="simple-icons:linuxcontainers" />
    <Icon class="size-8 md:size-12" name="simple-icons:docker" />
    <Icon class="size-8 md:size-16" name="simple-icons:podman" />
    <img
      class="logos-dark"
      src="/yocto-black.png"
      alt="Yocto Project"
      width="8%"
    />
    <img
      class="logos-light"
      src="/yocto-white.png"
      alt="Yocto Project"
      width="8%"
    />
    <img
      class="logos-dark"
      src="/zephyr-black.png"
      alt="Zephyr Project"
      width="8%"
    />
    <img
      class="logos-light"
      src="/zephyr-white.png"
      alt="Zephyr Project"
      width="8%"
    />
  </div>
</div>
