---
// @ts-ignore
import { Picture } from "astro:assets";
---

<div class="mt-8 flex flex-wrap items-center justify-center gap-8 md:gap-20">
  <div class="flex items-center gap-8">
    <a
      href="https://techpark.hr"
      target="_blank"
      rel="noopener noreferrer"
      class="group block text-gray-800 mt-3">
      <Picture
        src="/tech-park-white.png"
        alt="TechPark"
        sizes="150px"
        width={150}
        height={150}
        class="w-[150px] h-[150px] rounded-md transition group-hover:-translate-y-1 bg-white object-contain object-center logos-light"
      />
      <Picture
        src="/tech-park-black.png"
        alt="TechPark"
        sizes="150px"
        width={150}
        height={150}
        class="w-[150px] h-[150px] rounded-md transition group-hover:-translate-y-1 bg-white object-contain object-center logos-dark"
      />
    </a>

    <a
      href="https://voogle.hr"
      target="_blank"
      rel="noopener noreferrer"
      class="group block text-gray-800 mt-3">
      <Picture
        src="/voogle-white.png"
        alt="Voogle"
        sizes="150px"
        width={150}
        height={150}
        class="w-[150px] h-[150px] rounded-md transition group-hover:-translate-y-1 bg-white object-contain object-center logos-light"
      />
      <Picture
        src="/voogle-black.png"
        alt="Voogle"
        sizes="150px"
        width={150}
        height={150}
        class="w-[150px] h-[150px] rounded-md transition group-hover:-translate-y-1 bg-white object-contain object-center logos-dark"
      />
    </a>
  </div>
</div>
