---
// @ts-ignore
---

<div class="mt-24">
  <div class="flex gap-8 md:gap-20 items-center justify-center mt-10 flex-wrap">
    <a href="https://techpark.hr" target="_blank" rel="noopener noreferrer">
      <img
        class="logos-dark"
        src="/tech-park-black.png"
        alt="TechPark"
        width="150"
        height="auto"
      />
    </a>

    <a href="https://techpark.hr" target="_blank" rel="noopener noreferrer">
      <img
        class="logos-light"
        src="/tech-park-white.png"
        alt="TechPark"
        width="150"
        height="auto"
      />
    </a>

    <a href="https://voogle.hr" target="_blank" rel="noopener noreferrer">
      <img
        class="logos-dark"
        src="/voogle-black.png"
        alt="Voogle"
        width="200"
        height="auto"
      />
    </a>

    <a href="https://voogle.hr" target="_blank" rel="noopener noreferrer">
      <img
        class="logos-light"
        src="/voogle-white.png"
        alt="Voogle"
        width="200"
        height="auto"
      />
    </a>
  </div>
</div>
